.background-image, .filter, .banner-content {
  height: 700px;
  width: 100%;
  position: absolute;
  display: block; }

.background-image {
  background-image: url("../images/Facebook-photo-grid-blurred.png");
  background-repeat: repeat; }

.filter {
  background-color: #3b5998;
  opacity: 0.8; }

.banner-content #text {
  margin-top: 150px;
  color: white;
  text-align: center; }
  .banner-content #text h1 {
    font-size: 90pt; }
  .banner-content #text .divider {
    height: 50px; }
  .banner-content #text .btn {
    height: 100px;
    font-size: 25pt; }

.horizontal-center {
  margin-left: auto;
  margin-right: auto; }

#container-body {
  background-color: #dfe3ee;
  height: 100%; }

#container-central {
  background-color: #8b9dc3;
  height: 80%;
  top: 10%;
  padding: 2%; }

#jumbotron {
  background-color: #3b5998;
  height: 100%;
  text-align: center; }

#subtitle {
  color: #414A52; }

#friendContent {
  margin-top: 700px;
  position: absolute;
  height: 100%;
  width: 100%; }
  #friendContent .column .search-bar {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px; }
  #friendContent .column .friend {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #dfe3ee;
    border: 2px solid #8b9dc3;
    box-shadow: 2px 3px 3px #8b9dc3;
    /*.checkbox {
        float: right;
        width: 25px;
        height: 25px;
        background-color: white;
        border: 2px solid $FB_darkBlue;
        margin-right: 10px;
        margin-top: 15px;
        padding: 0;
        box-shadow: none;
    }*/ }
    #friendContent .column .friend img {
      margin-left: 5px;
      margin-right: 5px;
      border: 2px solid #8b9dc3; }
  #friendContent .column .friend:hover {
    background-color: #3b5998;
    color: white;
    border: 2px solid #3b5998; }

.v-center {
  display: table !important; }

.v-center-element {
  display: table-cell !important;
  vertical-align: middle; }
