$FB_lightBlue: #dfe3ee;
$FB_medBlue: #8b9dc3;
$FB_darkBlue: #3b5998;

html {
}

body {
}

$headerHeight: 700px;

%banner {
    height: $headerHeight;
    width: 100%;
    position: absolute;
    display: block;
}

.background-image {
    @extend %banner;    
    background-image: url('../images/Facebook-photo-grid-blurred.png');
    background-repeat: repeat;
}

.filter {
    @extend %banner;    
    background-color: $FB_darkBlue;
    opacity: 0.8;
}

.banner-content {
    @extend %banner;    

    #text {
        margin-top: 150px;
        color: white;
        text-align: center;
        h1 {
            font-size: 90pt;
        }

        h3 {
        }

        .divider {
            height: 50px;
        }

        .btn {
            height: 100px;
            font-size: 25pt;
        }
    }
}

.horizontal-center {
    margin-left: auto;
    margin-right: auto;
}

#container-body {
    background-color: $FB_lightBlue; 
    height: 100%;
}

#container-central {
    background-color: $FB_medBlue;
    height: 80%;
    top: 10%;
    padding: 2%;
}

#jumbotron {
    background-color: $FB_darkBlue;
    height: 100%;
    text-align: center;
}

#subtitle {
        color: #414A52;
}

#friendContent {
    margin-top: $headerHeight;
    position: absolute;
    height: 100%;
    width: 100%;

    .column {
        .search-bar {
            margin-left: auto;
            margin-right: auto;
            max-width: 500px;
        }
        .friend {
            margin-top: 10px;
            margin-bottom: 5px;
            padding: 5px;
            background-color: $FB_lightBlue;
            border: 2px solid $FB_medBlue;
            box-shadow: 2px 3px 3px $FB_medBlue;

            img {
                margin-left: 5px;
                margin-right: 5px;
                border: 2px solid $FB_medBlue;
            }

            .checkbox {
                float: right;
                width: 25px;
                height: 25px;
                background-color: white;
                border: 2px solid $FB_darkBlue;
                margin-right: 10px;
                margin-top: 15px;
                padding: 0;
                box-shadow: none;
            }
        }

        .friend:hover {
            background-color: $FB_darkBlue;
            color: white;
            border: 2px solid $FB_darkBlue;
        }
    }
}

.v-center {
    display: table !important;
}

.v-center-element {
    display: table-cell !important;
    vertical-align: middle;
}
